
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    height: auto;
    background-color: #fff;
    
}

.header-img{
    height: 1em;
    max-width: 120px;
}

.header-text{
    font-weight: bold !important;
    color: black;
}