.workspace-url{
    display: flex;
}

.input-url{
    width: 100%;
    min-width: 100px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    outline: none;
    margin-bottom: 15px;
}
.input-url-sample{
    width: 100%;
    /* min-width: 100px; */
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    /* outline: none; */
    margin-bottom: 15px;
}