.button-style{
    max-width: 500px;
    height: auto;
    padding: 20px;
    margin: 30px auto;
    margin-bottom: 0px;
    border-radius: 10px;
}


@media screen and (min-width: 769px){
    .button{
        width: 50%;
    }
    
}