   

.button{
    padding: 10px;
    background-color:#7b69ee;
    color: #fff;
    border: none;
    margin: 25px auto 10px;
    border-radius: 10px;
    font-size: 1rem;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 769px){
    .button{
        width: 50%;
    }
    
}