.form{
    max-width: 500px;
    height: auto;
    padding: 20px;
    margin: 30px auto;
    margin-bottom: 0px;
    border-radius: 10px;
}

.create-btn{
    padding: 10px;
    background-color:#7b69ee;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
}

.label-control {
    color: "152D35";
    font-size: 18px;
    margin-right: 15px;
    float: left;
    margin-bottom: 10px;
    font-weight: 400;
}

.input-control {
    width: 100%;
    min-width: 100px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    outline: none;
    margin-bottom: 15px;
}
